@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.left {
    width: 75vw;
    padding: 1em;
}

.right {
    width: 25vw;
    background-color: lightgray;
    padding: 1em;
}

/* .number1 {
background-image: url("ironmaiden.png");
height: 100vh;

}

.number2 {
 background-image: url("kurtcobain.png");
 height: 100vh;
 width: 100%;
}

.number3 {
background-image: url("dgjfelp;'lkfdl;grel.png");
height: 1000vh;
width: 100%;
} */

#certificate {

    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;

}

#certificate img {
    display: none;
    width: 100%;

}

#certificate.number1 img.maiden {
    display: block;
}

#certificate.number2 img.kurt {
    display: block;
}

#certificate.number3 img.balding {
    display: block;
}

#nameOutput {
    position: absolute;
    top: 25%;
    left: 18%;
    width: 64%;
    text-align: center;
    font-size: 6em;
    font-weight: bold;

}

#certificate.number2 #nameOutput {
    top: 24%;
    left: 20%;
    width: 64%;
}

#certificate.number3 #nameOutput {
    top: 35%;
    left: 20%;
    width: 64%;
}

#theDate{
    position: absolute;
    left: 35%;
    top: 61%;
    z-index: 1;
}

@media print {
    .right {
        display: none;
    }

    .left {
        width: 100%;;
    }
}